<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SPA</title>
	<link rel="stylesheet" href="~/client/dist/myapp.css" />
    @RenderSection("head")
</head>
<body ng-app="myapp">
	<div ui-view></div>
	<script src="~/client/dist/libs/jquery-1.10.2.min.js"></script>
	<script src="~/client/dist/libs/angular.min.js"></script>
	<script src="~/client/dist/libs/angular-ui-router.min.js"></script>
	<script>
		angular.module("myapp", ["ui.router"]);
		//angular.ngm = (function(){
		var ngm = (function () {
			var modules = {};
			return function (name) {
				var module = modules[name];
				if (module) {
					return module;
				}
				try {
					modules[name] = angular.module(name);
				}
				catch (err) { }
				return modules[name];
			}
		}());
	</script>
	<script src="~/client/dist/myapp.js"></script>
	@RenderSection("scripts")
</body>
</html>
